:root{
    --bg-color: #435465;
    --text-color: white;
    --card-bg-color: #2e2e2e;
    --border-color:rgb(156, 156, 156);
}
#search-container{
    width: 100%;
}
label{
    margin-left: 2rem;
    color: var(--text-color);
}
#unit-toggle{
    width: 100%;
}

#search-container-waper{
    width: 70%;
    justify-content: center;
}

@media (max-width: 768px) {
    #search-container-waper {
        width: 50%;
    }
}

.cards{
    color: black;
    border-radius: 15px;
    margin: 0 auto;
}


.svgs{
    width: 100px;
    height: 100px;
}

#weather-icon{
    width: 80px;
    filter: drop-shadow(2px 4px 6px black)
}

#temp-text{
    padding: 10px;
    margin: 10px;
    border-color: var(--border-color)
}
.weather-temp{
    opacity: 0.7;
}
#city-name-div{
    border-color: var(--border-color)
}
#unit-toggle {
    flex-shrink: 0;
    width: auto;
    min-width: fit-content;
    padding-right: 2rem;
}

